.spreadsheet-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow-x: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .scroll-wrapper {
    display: inline-block;
    min-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .spreadsheet-container::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scroll bar */
  }
  
  .spreadsheet-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .spreadsheet-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .add-row-button {
    margin-top: 10px;
    position: relative;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .add-row-button:hover {
    background-color: #0056b3;
  }